<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SM_Art_Bender.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SM_Art_Bender.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SM_Art_Bender.My.MySettings>
            <setting name="Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
        </SM_Art_Bender.My.MySettings>
    </applicationSettings>
    <userSettings>
        <SM_Art_Bender.My.MySettings>
            <setting name="XMax" serializeAs="String">
                <value>333</value>
            </setting>
            <setting name="XCenter" serializeAs="String">
                <value />
            </setting>
            <setting name="BendMax" serializeAs="String">
                <value />
            </setting>
            <setting name="BendCenter" serializeAs="String">
                <value />
            </setting>
        </SM_Art_Bender.My.MySettings>
    </userSettings>
</configuration>